In [80]:
import numpy as np
import pandas as pd

In [81]:
df = pd.read_csv("spotify_millsongdata.csv")

In [82]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [83]:
df.shape

(57650, 4)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57650 entries, 0 to 57649
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   artist  57650 non-null  object
 1   song    57650 non-null  object
 2   link    57650 non-null  object
 3   text    57650 non-null  object
dtypes: object(4)
memory usage: 1.8+ MB

In [67]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [68]:
df.duplicated().sum()

0

In [69]:
df['artist']

0                ABBA
1                ABBA
2                ABBA
3                ABBA
4                ABBA
             ...
57645    Ziggy Marley
57646    Ziggy Marley
57647            Zwan
57648            Zwan
57649            Zwan
Name: artist, Length: 57650, dtype: object

In [84]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [87]:
df.head()

,artist,song,text
0,Doors,Moonlight Drive,"Let's swim to the moon, uh huh \r\nLet's clim..."
1,Radiohead,Pyramid Song,"I jumped in the river, what did I see? \r\nBl..."
2,Manowar,Each Dawn I Die,Passing through the storm - \r\nLed by demons...
3,Alice Cooper,Identity Crisises,Sometimes I'm James Bond \r\nSometimes I'm Bi...
4,Whitesnake,Sweet Talker,"I can tell by way you walk, \r\nYou give it a..."

In [86]:
df['text'][0]

"Let's swim to the moon, uh huh  \r\nLet's climb through the tide  \r\nPenetrate the evenin' that the  \r\nCity sleeps to hide  \r\nLet's swim out tonight, love  \r\nIt's our turn to try  \r\nParked beside the ocean  \r\nOn our moonlight drive  \r\nLet's swim to the moon, uh huh  \r\nLet's climb through the tide  \r\nSurrender to the waiting worlds  \r\nThat lap against our side  \r\nNothin' left open  \r\nAnd no time to decide  \r\nWe've stepped into a river  \r\nOn our moonlight drive  \r\nLet's swim to the moon  \r\nLet's climb through the tide  \r\nYou reach your hand to hold me  \r\nBut I can't be your guide  \r\nEasy, I love you  \r\nAs I watch you glide  \r\nFalling through wet forests  \r\nOn our moonlight drive, baby  \r\nMoonlight drive  \r\nCome on, baby, gonna take a little ride  \r\nDown, down by the ocean side  \r\nGonna get real close  \r\nGet real tight  \r\nBaby gonna drown tonight  \r\nGoin' down, down, down\r\n\r\n"

In [88]:
df['text'] = df['text'].str.lower()

In [89]:
df['text'][0]

"let's swim to the moon, uh huh  \r\nlet's climb through the tide  \r\npenetrate the evenin' that the  \r\ncity sleeps to hide  \r\nlet's swim out tonight, love  \r\nit's our turn to try  \r\nparked beside the ocean  \r\non our moonlight drive  \r\nlet's swim to the moon, uh huh  \r\nlet's climb through the tide  \r\nsurrender to the waiting worlds  \r\nthat lap against our side  \r\nnothin' left open  \r\nand no time to decide  \r\nwe've stepped into a river  \r\non our moonlight drive  \r\nlet's swim to the moon  \r\nlet's climb through the tide  \r\nyou reach your hand to hold me  \r\nbut i can't be your guide  \r\neasy, i love you  \r\nas i watch you glide  \r\nfalling through wet forests  \r\non our moonlight drive, baby  \r\nmoonlight drive  \r\ncome on, baby, gonna take a little ride  \r\ndown, down by the ocean side  \r\ngonna get real close  \r\nget real tight  \r\nbaby gonna drown tonight  \r\ngoin' down, down, down\r\n\r\n"

In [90]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

In [91]:
def preprocesss(text):
    token = word_tokenize(text)
    
    stop_words = set(stopwords.words('english'))
    stemmer = PorterStemmer()
    
    y = []
    
    for i in token:
        if i.isalpha() and i not in stop_words:
            stemmed_token = stemmer.stem(i)
            y.append(stemmed_token)
    
    return " ".join(y)

In [92]:
df['text'] = df['text'].apply(preprocesss)

In [93]:
df['text'][0]

'let swim moon uh huh let climb tide penetr evenin citi sleep hide let swim tonight love turn tri park besid ocean moonlight drive let swim moon uh huh let climb tide surrend wait world lap side nothin left open time decid step river moonlight drive let swim moon let climb tide reach hand hold ca guid easi love watch glide fall wet forest moonlight drive babi moonlight drive come babi gon na take littl ride ocean side gon na get real close get real tight babi gon na drown tonight goin'

In [94]:
df.head()

,artist,song,text
0,Doors,Moonlight Drive,let swim moon uh huh let climb tide penetr eve...
1,Radiohead,Pyramid Song,jump river see angel swam moon full star astra...
2,Manowar,Each Dawn I Die,pass storm led demon walk world men god cast s...
3,Alice Cooper,Identity Crisises,sometim jame bond sometim billi kid sometim fe...
4,Whitesnake,Sweet Talker,tell way walk give away sweet way talk ye got ...

In [95]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [96]:
tfidf = TfidfVectorizer(analyzer='word')

In [99]:
vectors = tfidf.fit_transform(df['text']).toarray()

In [100]:
vectors[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [101]:
tfidf.get_feature_names_out()

array(['aaaaaaah', 'aaaaaahhhhhhhh', 'aaaaahhh', ..., 'zulu', 'zung',
       'zutto'], dtype=object)

In [102]:
from sklearn.metrics.pairwise import cosine_similarity

In [103]:
similar = cosine_similarity(vectors)

In [104]:
similar[0]

array([1.        , 0.04589285, 0.00758816, ..., 0.00670713, 0.01102845,
       0.01221752])

In [105]:
similar.shape

(5000, 5000)

In [106]:
# now we will create a recommender function

In [138]:
def recommend(song):
    index = np.where(df['song']==song)[0][0]
    similar_songs = sorted(list(enumerate(similar[index])),reverse=True,key = lambda x:x[1])[1:6]
    
    for i in similar_songs:
        print(df['song'][i[0]])

In [141]:
recommend("Moonlight Drive")

Moonlight Drive (Including Horse Latitudes)
Moonlight Eyes
Let Me Down Easy
Let Me Love You Tonight
On Moonlight Bay

In [142]:
import pickle

In [144]:
pickle.dump(df,open('songs.pkl','wb'))
pickle.dump(similar,open('similar.pkl','wb'))